*{
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family:Gilroy, sans-serif;
}
a {
    color:black;
}

body{

	padding:0;
	margin:0;
	font-family: Gilroy,sans-serif;
}

#container {
	width: 1200px;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	width: 1200px;
}



#header{
	background:url(../img/lk_fon_2_1.png) no-repeat center top / cover;
	height: 100vh;
	background-attachment: fixed;
}

/*Для перехода между секциями*/
[id^=section] {
	margin-bottom: 100%;
}


.logo{
	padding-top: 10px;
	padding-bottom: 10px;
}

.heading{
	background-color: white;
	width: 100%;
	height: 90px;
	position: fixed;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.headingContent{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1200px;
}
.heading__logo{
	display: flex;
}

.heading__logo__ssika{
	cursor: pointer;
}

.logotext{
	font-weight: bold;
	font-size: 60px;
	padding-top: 15px;
	line-height: 60px;
	padding-bottom: 15px;
}

#minilogo{
	position: relative;
	right: 3px;
	font-size: 10px;
	font-weight: bold;
	font-size: 20px;
	padding-top: 50px;
	line-height: 20px;
}


.headingContent li{
	padding-top: 40px;
	margin-right: 50px;
}
.headingContent ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.headingContent a{
	color:black;
	text-decoration: none;
	font-size:15px;
	font-weight:800;
	opacity: 1;
	text-transform: uppercase;
	transition: 0.3s;
	font-family: Gilroy, sans-serif;
	line-height: 1.2em;
}

.navstyle {
	padding-left: 30px;
}

.navstyle a:hover{
	color:black;
	opacity: 0.5;
}

.heading__button{
	background: #000000;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px 14px;
}

.heading__button a{
	color:white;
	opacity: 0.95;
}
.user__name{
    margin-top:38px;

}


.LOGIN:hover{
	color:#00BFFF;
	opacity: 1;
}

.REGISTER:hover{
	color:#FFA500;
	opacity: 1;
}


.heading__button:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition: 0.3s;
 }


.title{
	position: relative;
	top: 40vh;
	text-align: center;
}

.title h1{
	margin:0;
	padding:0;
	font-size: 60px;
	color:white;
	font-weight: 800;
}

.title h3 {
	margin: 0px;
	position: 0px;
	color: #fff;
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;

}

hr{
	width: 400px;
	color:white;
	border: 1.5px solid white;

}

.title h2{
	margin:0;
	padding:0;
	font-size: 30px;
	color:white;
	font-weight: 400;
}
/* Панель сотрудника*/
.Panel-sotrudnika{
    background:white;

}
.title-panel-sotrudnika{
    margin:0;
    padding:60px;
    text-align:center;
    font-size:35px;
}
/* Кнопки панели сотрудника*/
.buttons_with_content{
    display:flex;
    flex-direction:column;
    padding-right:50%;
    flex-wrap:wrap;
    height:650px;
}

button_1{
	background: white;
	top:150px;
	border: 2px solid black;
	border-radius: 0;
	margin-right: 65%;
	margin-left: 75px;
	transition: 0.3s;
}

.button_p{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	border:none;
	padding-top:10px;
}


.button_1:hover{
	background:silver;
	transition: 0.3s;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border:2px solid black;
}
.button_1:focus{
    background:black;
    color:white;
}


.button_1:hover > .button_p {
	color:white;
	transition: 0.3s;
}
/*---Панель сотрудника---*/
.scheme_vpp{
    opacity:0;
    position:relative;
    font-size:35px;
    left:20%;

}

.scheme_vpp img{
    border-radius:15px;
}

#btn_scheme_vpp:focus ~ .scheme_vpp{
    opacity:1;
    transition: 0.5s;
    z-index:1;
}
.count_users{
    opacity:0;
    position:relative;
    font-size:35px;
    bottom:300px;
    left:200px;
}

#btn_count_users:focus ~ .count_users{
    opacity:1;
    transition: 0.5s;
    z-index:1;
}

.message_sotrud{
    opacity:0;
    position:relative;
    font-size:35px;
    bottom:300px;
    left:200px;

}
#btn_message:focus ~ .message_sotrud{
    opacity:1;
    transition: 0.5s;
    z-index:1;
}

.row{
    opacity:0;
    position:relative;
    left:-70%;
}

#btn_electricity_prices:focus ~ .row{
    opacity:1;
    transition: 0.5s;
    z-index:1;
}


/*-----------footer--------------------*/
#footer{
	color:white;
	height: 200px;
	width: 100%;
	background-color: #393d44;
	display:flex;
	align-items:center;
	justify-content:center;

}

.footer__img{
	float: right;
	margin-right: 20px;
	margin-bottom: 5px;
}

.logotext2{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color: #99d9ea;
}

.span{
	font-weight: bold;
	font-size: 18px;
	color:white;
}
.OOO{
	text-align: center;
 }

.group{
	align-items: center;
	display: flex;
}

.group span{
	color:#99d9ea;
	font-size: 14px;
}

.group p{
	color:white;
	font-size: 14px;
}

.Partners{
	display: flex;
}

.blocks{
	margin-left: 30vh;
	margin-right: 30vh;
}







