<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
    <link rel="stylesheet" href="..\static\css\forma.css">
</head>
<body>
<a href="/" class="strelka"><img src="..\static\img\strelkaNazad.png" height="30px" title="Вернуться"></a>
<form action="" method="post" class="form">
    {{ form.hidden_tag() }}
    <h1 class="form__title">Вход</h1>
    <div class="form__group">
        {{ form.email(type="email", class="form__input", placeholder=" ") }}
        {{ form.email.label(class="form__label")}}

        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    <div class="form__group">
        {{ form.password(class="form__input", type="password", placeholder=" ") }}
        {{ form.password.label(class="form__label") }}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>

    {{ form.submit(type="submit", class="form__button1") }}
    <div class="message">{{ message }}</div>
</form>
</body>
</html>