<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content=" " name="description">
    <meta content=" " name="keywords">
    <title>Личный кабинет</title>
    <link href="..\static\fonts\stylesheet.css" rel="stylesheet" type="text/css">
    <!--для графика-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css"/>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>
    <!--для плавной прокрутки-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="..\static\js\anchor.js"></script>
    <script type="text/javascript" src="..\static\js\anchor.init.js"></script>

    <!--    подключение стилей-->
    <link rel="stylesheet" href="..\static\css\sotrudnik.css">
</head>
<body>
<div id="header">
    <div class="heading">
        <div class="headingContent">
            <a href="google.com" class="heading__logo__ssika">
                <div class="heading__logo">
                    <a href="http://www.rosseti.ru/"><img src="..\static\img\logoN.png" alt="" width="70px"
                                                          class="logo"></a>

                    <div class="logotext">VPP</div>
                    <div id="minilogo">iramida NRG</div>
                </div>
            </a>

            <div class="nav navstyle">

                <ul>
                    <li>
                        <a href="#header">Сотрудник ЭСК</a>
                    </li>
                </ul>
            </div>

            <a class="user__name" href="/">{{ current_user.name }}</a>
            <div class="heading__button">
                <a href="/logout" class="LOGIN">Выход</a>
            </div>


        </div>
    </div>

    <div class="title container">
        <!--<h1>Мощная энергетика - современные технологии, новые возможности!</h1>-->
        <h1>Добро пожаловать в Личный Кабинет, Сотрудник!</h1>
        <h3>VPPiramida NRG заботится о вас</h3>
    </div>
</div>

<div class="Panel-sotrudnika">
    <div class="container">
        <h2 class="title-panel-sotrudnika">Панель сотрудника</h2>
        <div class="buttons_with_content">
            <button class="button_1" id="btn_scheme_vpp">
                <p class="button_p">Схема платформы</p>
            </button>
            <br>
            <button class="button_1" id="btn_count_users">
                <p class="button_p">Количество участников</p>
            </button>
            <br>
            <button class="button_1">
                <p class="button_p">Заявки (на установку оборудования, расчет стратегии, прогнозирование)</p>
            </button>
            <br>
            <button class="button_1" id="btn_electricity_prices">
                <p class="button_p">График цены электроэнергии на рынке</p>
            </button>
            <!--схема-->
            <div class="scheme_vpp">
                <img src="../static/img/scheme_vpp.png" alt="scheme_vpp" height="350px">
            </div>
            <!--кол-во участников-->
            <div class="count_users">
                <p>Сотрудников: {{len_sotrudnik}}</p>
                <p>Потребителей: {{len_potreb}}</p>
            </div>

            <!--график-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div id="chart"></div>
                    <script src="../static/js/graph.js"></script>
                </div>
            </div>

        </div>
    </div>
</div>
<footer id="footer">
    <div class="Partners">
        <img src="..\static\img\logo__footerN.png" alt="" height="100px">
        <img src="https://center-orlyonok.ru/Content/images/eaglet-logo.svg" alt="" height="110px" class="Orel">
    </div>
    <div class="blocks">
        <div class="logotext2">VPP<span class="span">iramida NRG</span></div>
        <p class="OOO">© 2020-2021, АО «Piramida NRG»</p>
    </div>

    <div class="bottom__group">
        <div class="group">
            <img src="https://image.flaticon.com/icons/svg/739/739158.svg" height="30px" alt="" class="footer__img">
            <p><span>@Aleksandr_Zhd</span> Александр (Верстальщик)</p>
        </div>
    </div>
</footer>

</body>
</html>