<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>


<div class="num">564</div>
<script>$(".num").counterUp({delay:10,time:1000});</script>



 categoricalValues: ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']
 data: [2.4, 2.6, 2.8, 3, 3.2, 3.3, 3.5, 3.7]
 data: [2.7, 2.8, 3, 3.2, 3.4, 3.6, 3.8, 4]